<%= form_with model: @mine, local: true, html: { class: "grid place-content-center mt-10"} do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if @mine.errors[:name].any? %>
      <div class="text-red-500 text-sm">
        <% @mine.errors[:name].each do |message| %>
          <div>Field <%= message %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
    <% if @mine.errors[:email].any? %>
      <div class="text-red-500 text-sm">
        <% @mine.errors[:email].each do |message| %>
          <div>Field <%= message %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :rows %>
    <%= form.number_field :rows %>
    <% if @mine.errors[:rows].any? %>
      <div class="text-red-500 text-sm">
        <% @mine.errors[:rows].each do |message| %>
          <div>Field <%= message %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :columns %>
    <%= form.number_field :columns %>
    <% if @mine.errors[:columns].any? %>
      <div class="text-red-500 text-sm">
        <% @mine.errors[:columns].each do |message| %>
          <div>Field <%= message %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :mines %>
    <%= form.number_field :mines %>
    <% if @mine.errors[:mines].any? %>
      <div class="text-red-500 text-sm">
        <% @mine.errors[:mines].each do |message| %>
          <div>Field <%= message %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions mt-3 mx-auto">
    <%= form.submit "Generate Board" %>
  </div>
<% end %>