<h1 class="font-bold text-4xl">Mine Boards</h1>

<%= link_to 'New board', new_mine_path, class: "float-right rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium w-1/6 " %>

<table class="table-auto mt-10">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
  <% @mines.each do |mine| %>
    <tr>
      <td class="link-item"><%= link_to mine.name.capitalize, mine_path(mine) %></td>
      <td><%= mine.email %></td>
      <td><%= mine.created_at.strftime("%I:%M %p - %B %d, %Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>